*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}
.fecha{
	background-color: #193284;
}

.fecha p{
	color:#ffffff;
	margin: 10px 0;
}

.encabezado{

	background-image: url('../images/fondo_encabezado.jpg');
	height: 250px;
	background-size: cover;
}

nav{
	padding: 10px 0;
}

img{ margin: 28px auto;
}


